* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;    
    background-color: #23252C;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.container{
    width: 20%;
    align-items: center;
    align-self: center;
    margin: 0 auto;    
}

main > .info {
    margin-top: 35px;
    line-height: 10px;
}
.about{ 
    text-align: justify;
}

.about p{
    font-size: 15px;
}

.interests{ 
    text-align: justify;
}

.interests p{
    font-size: 15px;
}


h5{
    color: #F3BF99;
}

button{
    height:40px;
    width:100px;
    border-radius: 5px;
    border: none;
    margin: 15px;
}

.btn-linkedin{
    background-color: #5093E2;
    color: #fff;
}

button:hover{
    opacity: 0.4;
}

button > img,
button > span {
  vertical-align: middle;  
}

button > img {
    margin-right: 5px;
}